<!DOCTYPE html>
<html>
<title>Covid 19</title>
<body>
<h1 style="align-self: center;">Covid 19</h1>
<p>Coronavirus disease 2019 (COVID-19) is an infectious disease caused by severe acute respiratory syndrome 
    coronavirus 2 (SARS-CoV-2).[8] The disease was first identified in December 2019 in Wuhan, the capital of China's Hubei province, and has since spread globally, resulting in the ongoing 2019–20 coronavirus pandemic.[9][10] Common symptoms include fever, cough, and shortness of breath.[5] Other symptoms may include fatigue, muscle pain, diarrhoea, sore throat, loss of smell, and abdominal pain.[5][11][12] The time from exposure to onset of symptoms is typically around five days but may range from two to fourteen days.[5][13] While the majority of cases result in mild symptoms, some progress to viral pneumonia and multi-organ failure.[9][14] As of 20 April 2020, more than 2.41 million cases have been reported across 185 countries and territories,[15] resulting in more than 165,000 deaths.
     More than 632,000 people have recovered.[7] </p> 

<p></b>This are set of Apis which try to help analyse the data.<b>Api reliability is not guranted</b></p>     
<div class="container" align="left">
    <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
    
</div>

{{table_data|safe}}

</body>


</html>